body {
  min-width: 350px;
}

header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #778899;
  text-align: center;
  height: auto;
}

footer {
    background-color: #778899;
    margin: 200px 0 0 0;
    padding: 20px 0;
    height: auto;
}

h1 {
  color: white;
  padding: 60px 0 20px 20px;
  margin: 0;
  font-family: Ariel, serif;
}
h2 {
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h5 {
  color: white;
  padding-inline: 20px 0; 
  margin: 0;
  font-family: Times, 'Times New Romans', serif;
  text-align: center;
}

main {
  padding-left: 20px;
}

footer {
  padding-left: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
h3 {
   color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
image {
  height: auto;
}
a:hover{
  color: red
}
a:visited{
  color: green
}
